<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VideoPlayerDemo</title>
</head>
<body>
<div align="center">
    <h1>Video Player Demo</h1>
    <hr/>
    <div>
        <label for="url">Enter your video url: </label>
        <input type="text" name="url" id="url" required/>
    </div>
    <div>
        <label for="url">Enable transcode: </label>
        <select name="transcode" id="transcode">
            <option value="true">Enable</option>
            <option value="false" selected>Disable</option>
        </select>
    </div>
    <div>
        <button @click="loadVideoUrl">Load</button>
    </div>
    <hr/>
    <div id="dplayer" style="width: 80%"></div>
    <script>
        const dp = new DPlayer({
            container: document.getElementById('dplayer'),
            video: {
                url: '',
            },
        });
        console.log('dplayer', dp);

        function loadVideoUrl() {
            var url = document.getElementById('url');
            var transcode = document.getElementById('transcode');
            if(!url) return;
            if(!transcode) return;
            console.log('load url: ', url)
            console.log('load transcode enable: ', transcode)
            dp.switchVideo({url: url,});
        }
    </script>
</div>
</body>
</html>