<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="/js/DPlayer.min.js"></script>
    <title>VideoPage</title>
</head>
<body>
<div align="center">
    <h1>Video Player Page</h1>
    <hr />
    <p>URL: [[${param.url}]]</p>
    <hr />
    <div id="dplayer" style="width: 80%"></div>
</div>

<script th:inline="javascript">
    var url = [[${param.url}]];
    console.log("js-url", url)
    const dp = new DPlayer({
        container: document.getElementById('dplayer'),
        video: {
            url: url,
        },
    });
    console.log('dplayer', dp);
</script>
</body>
</html>